    .body-bg {
        background: url('./../img/login_bg.png') no-repeat top center;
        background-size: auto 100%;
        height: 100vh;
    }
    
    .header {
        width: 18%;
        height: auto;
        overflow: hidden;
        margin: 0 auto 0;
        padding-top: 3rem;
    }
    
    .header a img {
        width: 100%;
    }
    
    .input-wrap {
        width: 75%;
        margin: 2rem auto;
    }
    
    .input-wrap .input-wrapper {
        width: 100%;
        height: 2rem;
        overflow: hidden;
        display: -webkit-box;
        display: box;
        margin-bottom: .5rem;
        position: relative;
        box-shadow: 2px 2px 2px 0 #aaa;
    }
    
    .input-wrap .input-wrapper div {
        display: block;
        width: 1.8rem;
        height: 100%;
        background: #ff9600;
        background-size: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .input-wrap .input-wrapper div p {
        width: 50%;
        margin: .5rem auto;
    }
    
    .input-wrap .input-wrapper div img {
        margin-top: .1rem;
        width: 100%;
    }
    
    .input-wrap .input-wrapper input {
        -webkit-box-flex: 1;
        height: 100%;
        width: 100%;
        padding: 0 3.2rem 0 2.4rem;
        box-flex: 1;
        border: none;
    }
    
    .hint {
        text-align: center;
    }
    
    .btn-login {
        width: 100%;
        height: 2rem;
        text-align: center;
        color: #fff;
        background: #ff9600;
        border: none;
        outline: none;
        border-radius: 1.31rem;
        margin-top: .8rem;
        font-size: 16px;
        box-shadow: 2px 2px 2px #aaa;
    }
    
    .agree {
        text-align: center;
        margin-top: .5rem;
    }
    
    .line {
        width: 80%;
        height: 1px;
        background: #ddd;
        margin: 0 auto;
    }